/* Reset the css styliing */

/* box sizing model */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Remove all the margins */
* {
    margin: 0;
}

/*  . Allow percentage-based heights in the application*/
html,
body {
    height: 100%;
}

/* Tweaking line height */

body {
    line-height: 1.5;
}

/* Sensible meadia defaults */

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* word wraping */

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Css reset End */
body {
    font-family: 'open sans', sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Root element */
:root {
    /* Colors */
    --primary-blue: #2196f3;
    --neutral-dark-blue: #0000EE;
}

.container {
    padding-inline: 20px;
    margin: auto;
}

/* Small screen */
@media (min-width:768px) {
    .container {
        width: 720px;
    }
}

/* Medium Screens */
@media (min-width:992px) {
    .container {
        width: 940px;
    }
}

/* Large Screens */
@media (min-width:1200px) {
    .container {
        width: 1160px;
    }
}

/* Header  */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media (max-width:767px) {
    header .container {
        flex-direction: column;
    }
}

header .container .logo {
    color: var(--primary-blue);
    font-size: 30px;
    text-transform: uppercase;
}


header>.container>nav.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;

}

header>.container>nav.main-nav>li>a {
    display: block;
    padding-block: 30px;
    padding-inline: 20px;
    color: black;
    text-transform: capitalize;
    transition: all .5s;
    position: relative;
}

@media (max-width:767px) {
    header>.container>nav.main-nav>li>a {
        font-size: 13px;
    }
}

header .container>nav.main-nav>li>a::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--primary-blue);
    position: absolute;
    top: 0;
    left: -100%;
    transition: all .5s linear;
    opacity: 0;
}

header>.container>nav.main-nav>li:hover>a {
    color: #2196f3;
    background-color: #2196f312;
}

header>.container>nav.main-nav>li:hover>a::before {
    left: 0;
    opacity: 1;
}

@media (max-width:767px) {
    header>.container>nav.main-nav>li>a {
        padding-inline: 8px;
        padding-block: 15px;
    }
}

header .container .main-nav .inside-nav {
    display: none;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: white;
    padding-block: 15px;
    border-bottom: 6px solid var(--primary-blue);
    z-index: 2000;
}

@media (max-width:767px) {
    header .container .main-nav>li:last-of-type:hover .inside-nav {
        display: block;
    }
}

@media (max-width:991px) {
    header .container .main-nav .inside-nav .image {
        display: none;
    }
}

@media (min-width:768px) {
    header .container .main-nav>li:last-of-type:hover .inside-nav {
        display: flex;
    }
}

header .container .main-nav .inside-nav ul {
    flex: 1;
    margin-top: 20px;
}

header .inside-nav li {
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    padding-block: 10px;
}

header .inside-nav li:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

header .inside-nav li a {
    color: var(--neutral-dark-blue);
    padding-left: 15px;
}

header .inside-nav li:hover {
    background-color: #eee;
}

/* Header End */

.landing {
    position: relative;
    overflow: hidden;
}

.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -30%;
    left: 0;
    background-color: #ececec;
    transform: skewY(-6deg);
    z-index: -1;
}

.landing .container {
    min-height: calc(100vh - 85px);
    display: flex;
    gap: 90px;
    padding-bottom: 50px;
    position: relative;
}

.landing .text {
    margin-top: 95px;
}

.landing .text h1 {
    letter-spacing: -1px;
    font-size: 25px;
    font-weight: 800;
}

.landing .text p {
    max-width: 360px;
    margin-block: 20px;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.8;
    color: #b3aaaa;
}

.landing .image {
    max-width: 500px;
}

@media (max-width:991px) {
    .landing .text {
        margin-inline: auto;
    }

    .landing .image {
        display: none;
    }
}


.landing .image img {
    position: relative;
    animation-name: move-down;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.landing .container .icon {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%);
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-blue);
    animation-name: bouncing;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Landing End */
/* Articles */
.articles {
    padding-block: 70px;
}

.articles .container .article-content {
    margin-block: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;

}

.articles .article {
    background-color: white;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 10px #00000026;
    transition: .5s;
}

@media (max-width:767px) {

    .articles .article-content .article {
        margin: auto;
    }
}

.articles .article:hover {
    transform: translateY(-10px);
}

.articles .article-content .article .image {
    margin-bottom: 15px;
}

.articles .article .image img {
    border-radius: 10px 10px 0 0;
}

.articles .article .art-text {
    padding-inline: 20px;
}

.articles .article .art-text p {
    font-size: 15px;
    color: #766c6c;
    margin-block: 10px 20px;
}

.articles .article .art-text a {
    display: block;
    margin-bottom: 12px;
    padding-top: 10px;
    color: var(--primary-blue);
    font-size: 20px;
    position: relative;
}

.articles .article .art-text a::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #eee;
    position: absolute;
    top: -1px;
    left: 0;

}

/* Articles Endiing here */
/* Gallery */

.gallery {
    padding-block: 80px;
    position: relative;
}

.gallery::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.gallery .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 40px;
}

.gallery .content .box {
    background-color: white;
    padding: 15px;
    overflow: hidden;
    transition: transform .5s linear;
    position: relative;
}

.gallery .box::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgb(255 255 255 / 20%);
    opacity: 0;
    z-index: 1;
}

.gallery .content .box:hover::before {
    animation: flach .6s;
}

.gallery .content .box:hover img {
    transform: rotate(-5deg) scale(1.2);
}

/* Gallery End */
.features {
    padding-block: 70px;
}

.features .feat-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 35px;
}

.features .feat {
    background-color: white;
    box-shadow: 6px 0px 10px #6c6b6b6b;
    overflow: hidden;
    border-radius: 5px;
}

.features .feat .image {
    position: relative;
}

.features .feat .image::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.features .feat:first-of-type .image::before {
    background-color: #f44036ab;
}

.features .feat:nth-of-type(2) .image::before {
    background-color: #00968882;
}

.features .feat:last-of-type .image::before {
    background-color: #03a9f482;
}

.features .feat .image::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -70px;
    width: 100%;
    height: 50%;
    background-color: white;
    transform: skewY(-20deg);
    transition: .5s;
}

.features .feat:hover .image::after {
    left: 0;
    transform: skewY(20deg);
}

.features .feat-content .text {
    text-align: center;
    position: relative;
    z-index: 3;
}

.features .feat h4 {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 20px;
    width: fit-content;
    margin-inline: auto;
    position: relative;
}

.features .feat h4::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 5px;
    left: 15%;
    bottom: -10px;
}

.features .feat:first-of-type h4::before {
    background-color: #f44036;
}

.features .feat:nth-of-type(2) h4::before {
    background-color: #009688;
}

.features .feat:last-of-type h4::before {
    background-color: #03a9f4;
}

.features .feat p {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #777;
    margin-bottom: 30px;
    padding: 25px;
}

.features .feat button {
    margin-bottom: 15px;
    width: 100px;
    padding-block: 6px;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
    transition: .5s;
}

.features .feat:first-of-type button {
    color: #f44036;
    border-color: #f44036;
    background-image: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100%;
}

.features .feat:nth-of-type(2) button {
    color: #009688;
    border-color: #009688;
    background-image: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100%;
}

.features .feat:last-of-type button {
    color: #03a9f4;
    border-color: #03a9f4;
    background-image: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100%;
}

.features .feat:hover button {
    color: white;
}

.features .feat:first-of-type:hover button {
    background-position: 0;
}

.features .feat:nth-of-type(2):hover button {
    background-position: 0;
}

.features .feat:last-of-type:hover button {
    background-position: 0;
}

/*  Features End */
.team-members {
    padding-block: 60px;
    position: relative;
}

.team-members .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 40px;
}

.team-members .player {
    padding: 30px 25px 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.team-members .player::before,
.team-members .player::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: calc(100% - 95px);
    background-color: #eee;
    z-index: -1;
}

.team-members .player::before {
    width: calc(100% - 95px);
    background-color: #eee;
}

.team-members .player::after {
    width: 0;
    background-color: rgb(39 37 37 / 30%);
    transition: .5s;
}

.team-members .player:hover::after {
    width: calc(100% - 95px);
}

.team-members .figure {
    margin-right: 10px;
    text-align: center;
}

.team-members figure .image {
    border-radius: 8px;
    overflow: hidden;
}

.team-members figure figcaption {
    padding-left: 80px;
}

.team-members .player:hover img {
    filter: grayscale(1);
}

.team-members span {
    display: block;
    color: var(--primary-blue);
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    padding-block: 10px;
}

.team-members .player:hover span {
    color: #736b6b;
}

.team-members figcaption p {
    font-size: 15px;
    font-weight: 600;
    color: #736b6b;
}

.team-members .icons i {
    display: block;
    padding-bottom: 15px;
    padding-left: 20px;
    color: #777;
    cursor: pointer;
}

.team-members .icons i:hover {
    color: var(--primary-blue);
}

.pattern {
    position: relative;
}

.pattern::after {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
        linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}

/* Team Members End */
.services {
    padding-block: 75px;
    position: relative;
}

.services::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 35px;
}

.services .service {
    background-color: white;
    text-align: center;
    counter-increment: count;
    transition: .5s;
    position: relative;
    box-shadow: 0 2px 10px #00000026;
}

.services .service::before {
    content: '';
    width: 0;
    height: 0;
    background-color: var(--primary-blue);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
}

.services .service:hover {
    transform: translateY(-10px);
}

.services .service:hover::before {
    width: 100%;
    height: 4px;
    left: 50%;
}

.services .service i {
    display: block;
    font-size: 60px;
    color: #eee;
    margin-block: 25px;
}

.services .service span {
    color: var(--primary-blue);
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;

}

.services .service .details {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    background-color: #f9f9f9;
    position: relative;
}

.services .details::before {
    content: "0" counter(count);
    color: white;
    background-color: var(--primary-blue);
    width: 100px;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
}

.services .details .triangle {
    width: 50px;
    height: 100%;
    position: absolute;
    background-color: #d5d5d5;
    left: 86px;
    transform: skew(-25deg);
}

.services a {
    color: var(--primary-blue);
    text-transform: capitalize;
    display: block;
    padding: 15px;
    font-size: 18px;
}

/* Services End */
.skills {
    padding-block: 70px;
    position: relative;
}

.skills .container {
    display: flex;
}

@media (max-width:991px) {
    .skills .image {
        display: none;
    }
}

.skills .container .skill-content {
    flex: 1;
}

.skills .skill:not(:last-of-type) {
    margin-bottom: 20px;
}

.skills .skill h4 {
    margin-bottom: 10px;
}

.skills .skill span {
    display: block;
    width: 100%;
    background-color: #eee;
    height: 30px;
    position: relative;
}

.skills .skill span::before {
    content: '';
    height: 100%;
    background-color: var(--primary-blue);
    position: absolute;
    top: 0;
    left: 0;
}

.skills .skill:first-of-type span::before,
.skills .skill:last-of-type span::before {
    width: 80%;
}

.skills .skill:nth-of-type(2) span::before {
    width: 85%;
}

.skills .skill:nth-of-type(3) span::before {
    width: 75%;
}

.skills .skill span::after {
    color: var(--primary-blue);
    padding: 2px 3px;
    font-weight: 700;
    border: 1px solid #777;
    border-radius: 6px;
    position: absolute;
    right: 0;
    top: -40px;
}

.skills .skill:first-of-type span::after,
.skills .skill:last-of-type span::after {
    content: '80%';
}

.skills .skill:nth-of-type(2) span::after {
    content: '85%';
}

.skills .skill:nth-of-type(3) span::after {
    content: '75%';
}

/* Skills ENd */
.work-steps {
    padding-block: 70px;
    position: relative;
}

.work-steps::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.work-steps .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:991px) {
    .work-steps .container {
        flex-direction: column;
    }

    .work-steps .work-content {
        margin-top: 35px;
    }

    .work-steps .step {
        margin-block: 20px;
    }
}

.work-steps .work-content {
    flex: 1;
    margin-left: 30px;
}

.work-steps .step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f5f5;
    border: 3px solid white;
    border-radius: 6px;
    padding: 25px;
    margin-block: 15px;
}

@media (max-width:767px) {
    .work-steps .step {
        flex-direction: column;
        text-align: center;
    }
}

.work-steps .step .image {
    max-width: 60px;
    margin-right: 20px;
}

.work-steps .step .text {
    flex: 1;
}

.work-steps .step h3 {
    font-size: 23px;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.work-steps .step p {
    color: #777;
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 0 0 0;
}

/* Work Steps End */
/* Utlity Classes */
.main-head {
    width: fit-content;
    margin: 0 auto 80px;
    border: 1px solid;
    padding: 10px 25px;
    color: #3a3535;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 10px;
    transition-delay: .5s;
    position: relative;
}

.main-head::before,
.main-head::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: var(--primary-blue);
    transition: .5s;
}

.main-head::before {
    left: -40px;
}

.main-head::after {
    right: -40px;
}

.main-head:hover {
    border: none;
    color: white;
}

.main-head:hover::before {
    border-radius: 10px 0 0 10px;
    animation: left-move .5s linear forwards;
}

.main-head:hover::after {
    border-radius: 0 10px 10px 0;
    animation: right-move .5s linear forwards;
}

/* Animation */
@keyframes move-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: 40px;
    }
}

@keyframes bouncing {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        z-index: -1;
    }

    100% {
        left: 0;
        width: 50%;
        height: 100%;
        z-index: -1;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        z-index: -1;
    }

    100% {
        right: 0;
        width: 60%;
        height: 100%;
        z-index: -1;
    }
}

@keyframes flach {

    20%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}